body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.button,
.equal-sign {
  background-color: #797979;
  border-radius: 50%;
  padding: 5px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Add a shadow to the button*/
  box-shadow: 2px 2px 1px rgba(97, 97, 97, 0.5);
}

.button:active,
.equal-sign:active {
  background-color: #333333; /* Background color when pressed */
}

.blinking-cursor {
  font-size: 50px;
  color: black;
  animation: blink 1s step-end infinite;
}

.calculator {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.calculator-container {
  background-color: rgb(3, 10, 15);
  width: 400px;
  border-radius: 50px;
  border: 1px solid black;
}
.calculator-screen {
  background-color: #7c845c;
  margin-top: 40px;
  height: 130px;
  font-size: 50px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.calculator-body {
  margin-top: 70px;
  padding: 10px;
  height: 65%;
  color: white;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.equal-sign {
  height: 90%;
  border-radius: 25px;
  margin-bottom: 5px;
}

.operations {
  height: 100%;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 105%;
  padding: 5px;
}

.value{
  display: flex;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@media (max-width: 500px) {
  .calculator-container {
    width: 100%;
    border-radius: 0;
  }
}
